.loadingPage{
    display: flex;
    flex-direction: column;
    color: #1B2331;
    row-gap: 200px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contents{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.contents p{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 23px;
}

.logo{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    font-weight: 600;
    font-size: 29px;
}



.logo img{
    width: 64px;
    height: 64px;
}

.loader{
    width: 56px;
    height: 56px;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .loader {
      animation: logo-spin infinite 3s linear;
    }
  }
  